*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.main{
    height:100%;
    width:100vw;
    background-color:#23527c;
    justify-items:center;
}
.main .con{
    height:100%;
    border:1px solid #23527c;
    width:95vw;
   /* overflow:hidden;*/
   
}
.main .con .table1{
    margin-top:50px;
    width:100%;
    margin-bottom:50px;
    
}
.main .con .table1 th,td{
    height:50px;
    width:150px;
    text-align:center;
    border:1px solid #a5a3a3;
    color:#fff;
    /*border:2px solid red;
    word-wrap:break-word;
    white-space:pre-wrap;*/
    /*display:-webkit-box;*/
    /*-webkit-line-clamp:3;*/
    /*-webkit-box-orient:vertical;*/
}